# Owner Config
OWNER_PREFIX=/
USER_PREFIX=.
OWNER_NUMBER=

# RAISING API Auth
RAISING_NIM=
RAISING_PASSWORD=
RAISING_NIM2=
RAISING_PASSWORD2=

# Third-party APIs
NUMVERIFY_API_KEY=
LOLHUMAN_API_KEY=
RESITA_API_KEY=
PITUCODE_API_KEY=

# Router AI
ROUTER_API_KEY=
ROUTER_PRODUCTION_BASE_URL=http://localhost:20128
ROUTER_CHAT_MODEL=vpscombo
ROUTER_QUERY_MODEL=fastcombo

# Agnes AI
AGNES_API_KEY=
AGNES_BASE_URL=https://apihub.agnes-ai.com
AGNES_IMAGE_MODEL=agnes-image-2.0-flash
AGNES_IMAGE_SIZE=1024x1024

# Google AI Search
GOOGLE_AI_API_KEY=
GOOGLE_AI_BASE_URL=http://localhost:9876