# Ignore wawebjs_auth folder
.wwebjs_auth/

# Ignore wawebjs_cache folder
.wwebjs_cache/

# Ignore baileys auth folders
auth_info_baileys/
auth_info_baileys_dev/

# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env